.Title {
  color: #404040;
  padding: 0.5em 0;
  border-top:solid 10px #009900;
  border-bottom: solid 10px #009900;
  font-size: 25px;
}

/* https://saruwakakun.com/html-css/reference/buttons {{{*/
.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #009900;/*ボタン色*/
  color: #dddddd;
  border-bottom: solid 4px #008800;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}
/* }}} */

.vimrc {
  position: relative;
  top: 0;
  left: 42%;
}

.frame {
  padding: 0.5em 1em;
  margin: 2em 0;
  background: #ffffff;
  border: solid 4px #009900;
  border-radius: 10px;
}
